*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html{
    scroll-behavior:smooth;
}

body{
    font-family: Arial, sans-serif;
    background-color:#edf2fc;
}

/* TOP HEADER */

.top-header{
    background:#2c3e50;
    height:80px;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:0 80px;
}

.logo{
    display:flex;
    align-items:center;
    gap:15px;
}

.logo img{
    width:60px;
    height:60px;
    border-radius:50%;
    object-fit:cover;
}

.logo span{
    color:white;
    font-size:28px;
    font-weight:bold;
}

.navbar{
    display:flex;
    gap:35px;
}

.navbar a{
    color:white;
    text-decoration:none;
    font-size:16px;
    font-weight:500;
    transition:0.3s;
}

.navbar a:hover{
    color:#6fa8dc;
}

.navbar a.active{
    color:#87c5ff;
    font-weight:bold;
    transform:scale(1.15);
}

/* HERO SECTION */

.hero{
    position:relative;
    width:90%;
    margin:40px auto;
}

.hero-content h2 span{
    font-family:'Dancing Script', cursive;
    font-size:30px;
    color:#175793;
}

.hero img{
    display:block;
    margin:0 auto;
    width:100%;
    height:700px;
    object-fit:cover;
    border-radius:5px;
    opacity:0.8;
}

/* WHITE CARD */

.hero-content{
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);

    width:500px;
    background:white;

    padding:30px;

    text-align:center;

    border-radius:15px;

    box-shadow:0 0 20px rgba(0,0,0,0.15);

    animation:fadeIn 1.5s ease;
}

.hero-content h2{
    color:#2c3e50;
    margin-bottom:15px;
    font-size:28px;
}

.hero-content p{
    color:#666;
    line-height:1.8;
    margin-bottom:20px;
    font-size:18px;
}

/* READ MORE BUTTON */

.read-btn{
    background-color:#6fa8dc;
    color:white;

    text-decoration:none;

    padding:12px 25px;

    display:inline-block;

    border-radius:5px;

    font-size:16px;

    transition:0.3s;
}

.read-btn:hover{
    background-color:#4c8cb8;
    transform:translateY(-3px);
}

/* INTRO */


.journey-intro{
    font-size:22px;
    color:#444;
    line-height:1.8;
    margin-bottom:25px;
    text-align:center;
}

.journey-quote{
    margin-top:30px;
    font-size:24px;
    font-style:italic;
    color:#6fa8dc;
    text-align:center;
}
.intro{
    width:80%;
    margin:70px auto;
    text-align:center;
}

.intro h2{
    color:#2c3e50;
    font-size:38px;
    margin-bottom:20px;
    position:relative;
}

.intro h2::after{
    content:"";
    display:block;
    width:80px;
    height:4px;
    background:#6fa8dc;
    margin:15px auto 0;
    border-radius:20px;
}

.intro p{
    color:#555;
    line-height:1.8;
    font-size:17px;
}

/* MY STUDENT JOURNEY */

.journey{
    width:80%;
    margin:70px auto;
    text-align:center;
}

.journey h2{
    color:#2c3e50;
    font-size:38px;
    margin-bottom:20px;
    position:relative;
}

.journey h2::after{
    content:"";
    display:block;
    width:80px;
    height:4px;
    background:#6fa8dc;
    margin:15px auto 0;
    border-radius:20px;
}

.journey p{
    color:#555;
    line-height:1.8;
    font-size:17px;
}

/* FEATURED TOPICS */

.topics{
    width:90%;
    margin:70px auto;
    text-align:center;
}

.topics h2{
    color:#2c3e50;
    font-size:38px;
    margin-bottom:50px;
    position:relative;
}

.topics h2::after{
    content:"";
    display:block;
    width:80px;
    height:4px;
    background:#6fa8dc;
    margin:15px auto 0;
    border-radius:20px;
}

.topic-container{
    display:flex;
    justify-content:center;
    gap:25px;
    flex-wrap:wrap;
}

.topic-card{
    background:white;
    width:280px;
    min-height:220px;

    padding:25px;

    border-radius:12px;

    border-top:4px solid #6fa8dc;

    box-shadow:0 8px 20px rgba(0,0,0,0.08);

    transition:0.3s;
    
  
}


.topic-card:hover{
    transform:translateY(-10px) scale(1.05);

    box-shadow:0 15px 30px rgba(0,0,0,0.15);
}

.topic-card h3{
    color:#2c3e50;
    margin-bottom:15px;
    font-size:22px;
}

.topic-card p{
    color:#666;
    line-height:1.8;
    font-size:15px;
}

.view-btn{
    display:inline-block;
    margin-top:20px;
    padding:10px 25px;
    background-color:#6da7e5;
    color:white !important;
    text-decoration:none;
    border-radius:8px;
    font-size:14px;
    font-weight:600;
    transition:0.3s;
}

.view-btn:hover{
    background-color:#4c8cd6;
    color:white;
}

/* FOOTER */

.footer{
    background:#2c3e50;

    padding:20px 50px;

    margin-top:80px;

    display:flex;

    justify-content:space-between;

    align-items:center;

    flex-wrap:wrap;
}

.footer-left p{
    color:#dcdcdc;

    font-size:14px;
}

.footer-right{
    display:flex;

    gap:25px;
}

.footer-right a{
    color:#dcdcdc;

    text-decoration:none;

    font-size:14px;

    font-weight:bold;

    transition:0.3s;
}

.footer-right a:hover{
    color:#6fa8dc;
}

@media(max-width:768px){

    .top-header{
        flex-direction:column;
        height:auto;
        padding:20px;
    }

    .logo{
        margin-bottom:15px;
    }

    .logo img{
        width:60px;
        height:60px;
    }

    .logo span{
        font-size:18px;
    }

      .navbar{
        display:flex;
        width:100%;
        justify-content:center;
        align-items:center;
        margin-top:15px;
        gap:20px;
        flex-wrap:wrap;
    }

        .navbar a{
        font-size:14px;
        padding:8px 10px;
    }

    .hero{
        width:95%;
    }

    .hero img{
        height:350px;
    }

    .hero-content{
        width:90%;
        padding:20px;
    }

    .hero-content h2{
        font-size:22px;
    }

    .hero-content p{
        font-size:15px;
    }

    .journey{
        width:95%;
    }

    .journey h2,
    .topics h2{
        font-size:30px;
    }

    .topic-card{
        width:100%;
        max-width:350px;
    }

    .footer{
        flex-direction:column;
        gap:15px;
        text-align:center;
    }

    .footer-right{
        flex-wrap:wrap;
        justify-content:center;
    }

}


  @keyframes fadeIn{

    from{
        opacity:0;
    }

    to{
        opacity:1;
    }
}


@keyframes slideUp{

    from{
        opacity:0;
        transform:translateY(150px);
    }

    to{
        opacity:1;
        transform:translateY(0);
    }

}

.topic-card:nth-child(1){
    animation:slideUp 0.6s ease;
}

.topic-card:nth-child(2){
    animation:slideUp 1.2s ease;
}

.topic-card:nth-child(3){
    animation:slideUp 1.8s ease;
}

.topic-card:nth-child(4){
    animation:slideUp 2.4s ease;
}
